<main>
    <form method="POST" action='@Url.Action("Logar", "Cliente")'>
        <input type="text" name="UsuarioArroba" placeholder="Digite seu arroba" required>
        <input type="password" name="Senha" placeholder="Senha" required>
        <input type="submit" value="Enviar">
    </form>
</main>