<main class="login">
    <img src="/img/profiledefault.jpg" class="usuario" width="100" height="100" alt="">
    <form method="POST" action='@Url.Action("Logar", "Cliente")'>
        <input type="text" name="UsuarioArroba" placeholder="Digite seu arroba" required>
        <input type="password" name="Senha" placeholder="Senha" required>
        <input type="submit" value="Enviar">
    </form>
</main>